@import "../variables";

header {
  width: 100vw;
  height: auto;
  max-height: 250px;
  justify-content: center;
  padding: 42px 0;
  background: linear-gradient(88deg, $pruple 0%, $blue 100%);

  &,
  .logos {
    display: flex;
  }

  span {
    font-size: $defaultTitlesFontSize;
    color: $white;
    font-weight: 700;
  }

  .header-content-wrapper {
    max-width: 900px;
    height: 100%;
    flex-direction: column;
    gap: 90px;
  }

  .logos {
    justify-content: space-between;
    margin-bottom: 60px;
    align-items: center;
  }

  .logos,
  .header-content-wrapper {
    width: 100%;
  }
}
